---
import type { RevisionInfo } from "./types";
import RevisionTags from "./RevisionTags.astro";

type LayoutDirection = "h" | "v";

interface Props extends RevisionInfo {
  noborder?: boolean;
  dir?: LayoutDirection;
}

const { noborder } = Astro.props;
const dir = Astro.props.dir ?? "h";

const horizontal = dir === "h";
const vertical = dir === "v";
---

<div class:list={["revision", { noborder, horizontal, vertical }]}>
  <div class="revision-content">
    <slot />
  </div>
  <div class="revision-tags">
    <RevisionTags as="div" {...Astro.props} />
  </div>
</div>

<style>
  .revision {
    display: flex;
  }

  .revision:not(.noborder) {
    border: 1px solid var(--sl-color-gray-4);
    padding-left: calc(var(--sl-content-gap-y) * 0.5);
    padding-right: calc(var(--sl-content-gap-y) * 0.5);
    padding-top: calc(var(--sl-content-gap-y) * 0.25);
    padding-bottom: calc(var(--sl-content-gap-y) * 0.25);
  }

  .revision .revision-tags {
    margin: 0;
  }

  .revision.horizontal {
    align-items: center;
    column-gap: 1em;
  }

  .revision.horizontal > .revision-content {
    flex-grow: 1;
  }

  .revision.horizontal > .revision-tags {
    flex-shrink: 0;
    flex-grow: 0;
  }

  .revision.vertical {
    flex-direction: column;
  }
</style>
