---
import { getLinkToKey } from "../lib/doc-index";

interface Props {
  dest: string;
}

const { dest } = Astro.props;
const rawLink = await getLinkToKey(dest);

const missing = rawLink === undefined;
const link = rawLink ?? "";
---

{
  missing ? (
    <span class="doc-link missing" title={`${dest} (missing)`}>
      <slot />
    </span>
  ) : (
    <a class="doc-link" href={link} title={dest}>
      <slot />
    </a>
  )
}

<style>
  .doc-link.missing {
    color: var(--cppdoc-color-missing-link);
  }
</style>
